<%@ Page language="c#" Codebehind="WebForm1.aspx.cs" ValidateRequest="false" AutoEventWireup="false" Inherits="TidyNetTest.WebForm1" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>WebForm1</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <body>
    <form id="Form1" method="post" runat="server">
		<asp:textbox id="TextBoxTidyIn" textmode="MultiLine" columns="80" rows="20" runat="server"></asp:textbox><br>
		<asp:button id="ButtonTidy" text="Tidy" runat="server"></asp:button><br>
		<asp:textbox id="TextBoxTidyOut" textmode="MultiLine" columns="80" rows="20" runat="server"></asp:textbox>
    </form>
  </body>
</html>
